<div id="app">
  <p>
    base price <input type="text" v-model="basePrice">
  </p>
  <p>
    tax included price <input type="text" v-model="taxIncludedPrice">
  </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el:'#app',
    data:{
      basePrice: 100
    },
    computed:{
      taxIncludedPrice:{
        get: function(){
          return parseInt(this.basePrice * 1.1)
        },
        set: function(taxIncludedPrice){
          this.basePrice = Math.ceil(taxIncludedPrice / 1.1)
        }
      }
    }
  })
</script>